:root{
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: var(--Eggshell);
}
h1{
    color: var(--Dark-Charcoal);
    font-family: "Young Serif", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
h2{
    font-family: "Young Serif", sans-serif;
    color: var(--Nutmeg);
    font-weight: 400;
    margin-bottom: 1rem;
}
img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}
li{
    list-style-position: outside;
    color: var(--Wenge-Brown);
    padding: 0 .4rem;
}
ol{
    list-style-position: inside;
    padding-left: 1.5rem;
    li{
        padding-left: .8rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
        &::marker{
            color: var(--Nutmeg);
            font-weight: 600;
        }
    }
}

    
p{
    color: var(--Wenge-Brown);
}
span{
    font-weight: 700;
}
ul{
    list-style: none;

}
table{
    width: 100%;
}
td{
    padding: 1rem;
    border-bottom: 1px solid var(--Light-Grey);
}
td:nth-child(2){
    color: var(--Nutmeg);
    font-weight: 600;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 100%, 50%); }

.containter{
    border-radius: 20px;
    background-color: var(--White);
    padding: 40px;
    font-family: "Outfit";
    max-width: 650px;
    margin: 40px auto;
    
}
.ingredients{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--Light-Grey);
    li::before {
        content: '•'; /* Use a bullet point or any symbol you prefer */
        color: var(--Nutmeg);
        font-size: 1.5em; /* Adjust the size as needed */
        margin-right: 1.5rem; /* Space between bullet and text */
        display: inline-block;
        vertical-align: middle; /* Ensure it aligns with text */
        margin-bottom: .2rem;
    }
}
.instructions{
    border-bottom: 1px solid var(--Light-Grey);
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;

}

.nutrution{
    color: var(--Wenge-Brown);
    p{
        margin-bottom: 1rem;
    }
}

.preparation{
    background-color: var(--Rose-White);
    border-radius: 20px;
    margin: 2rem 0;
    padding: 30px;
    h3{
        color: var(--Dark-Raspberry);
        margin-bottom: .8rem;
    }
    p{
        color: var(--Wenge-Brown);
    }
    ul{
        ::marker{
            color: var(--Dark-Raspberry);
            font-size: .8rem;
        }
    }
    li::before {
        content: '•'; /* Use a bullet point or any symbol you prefer */
        color: var(--Dark-Raspberry);
        font-size: 1.5em; /* Adjust the size as needed */
        margin-right: 1.5rem; /* Space between bullet and text */
        display: inline-block;
        vertical-align: middle; /* Ensure it aligns with text */
        margin-bottom: .2rem;
    }
}
